<div class="login-holder">
<md-card class="login-card">
  <md-card-header>
    <md-card-title>Login form</md-card-title>
  </md-card-header>
<div class="form-holder">
  <form class="login-form">
  <md-form-field >
    <input mdInput placeholder="Login">
  </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Password">
    </md-form-field>
  </form>
</div>
  <md-card-actions>
    <button md-button>Login</button>
    <button md-button>Register</button>
  </md-card-actions>
</md-card>
</div>
