.login-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.form-holder{
  display: flex;
  width: 200px;
  justify-content: flex-end;
  flex-direction: column;
}
.mat-card-header, .mat-card-actions{
  display: flex;
  justify-content: center;
}
