<div class="login-holder">
  <md-card class="login-card">
    <md-card-header>
      <md-card-title>Login form</md-card-title>
    </md-card-header>
    <div class="form-holder">
      <div>
        <md-form-field >
          <input mdInput [(ngModel)]="model.login" placeholder="Login">
        </md-form-field>
      </div>
      <div>
        <md-form-field>
          <input mdInput [(ngModel)]="model.password" placeholder="Password">
        </md-form-field>
      </div>
    </div>
    <md-card-actions>
      <button md-button (click)="closeDialog()">Login</button>
      <button md-button (click)="showLogin()">Register</button>
    </md-card-actions>
  </md-card>
</div>
