<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    VERSUS
  </h1>
</div>
<div>
  <span id="left" >
    <img style="width: 49%" src="https://varlamov.me/2016/news/nemagia.jpg">
  </span>
  <span id="right" >
    <img style="width: 49%" src="https://static2.tinkoff.ru/portal/business/oleg-tinkoff.jpg">
  </span>
</div>

<div style="display: flex; justify-content: flex-start">
<app-argument></app-argument>
<app-argument></app-argument>
<app-argument></app-argument>
</div>
