<div class="menu-top">
  <div></div>
  <button  md-button class="menu-element" (click)="week1()">week 1</button>
  <button  md-button class="menu-element">week 2</button>
  <div class="login-holder">

    <div *ngIf="authorized" class="login-info">
      <div class="login-user">
        {{user.login}}
      </div>
      <div>
        <button md-button class="login-button" (click)="logout()">Logout</button>
      </div>
    </div>
    <div *ngIf="!authorized" class="login-info">
      <button  md-button class="login-button" (click)="login()">login</button>
    </div>

  </div>
</div>

<div class="content">
  <div class="content-bg"></div>
  <div class="person-panel">
    <div class="person-left">
      <app-person bgColor="#81d4fa"  urlSrc="http://www.vladtime.ru/uploads/posts/2017-09/1505750928_bez-nazvaniya-10.jpg"></app-person>
    </div>
    <div class="person-right" style="margin-left: 30px">
      <app-person bgColor="#ffcccb" urlSrc="http://s0.rbk.ru/v6_top_pics/resized/1180xH/media/img/6/38/754586638977386.jpg"></app-person>
    </div>
  </div>



</div>
