.arg-card{
  background: #039be5;
  height: 130px;
  width: 160px;
  margin: 4px;

  border: 4px solid #006db3;
  border-radius: 4px;
}

.arg-holder{
}

.arg-image {
  height: 90px;
  width: 160px;
  background: orangered;
}

.arg-image img {
  height: 90px;
  width: 160px;
}

.arg-panel{
  background: #63ccff;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.arg-panel div{
}
.arg-panel .mat-button {
  min-width: 40px;
  min-height: 40px;
}
